/*
    要求：为div的子元素span设置字体为红色（div直接包含的span标签内容）
    子元素选择器
        - 作用：选中指定父元素的子元素
        - 语法：父元素 > 子元素

    div.one > span{
        color: red;
    }
*/


/*
    后代元素选择器
        - 作用：选中指定元素内的所有指定后代元素
        - 语法：祖先 后代
    div span{
    color: blue;
    }
*/


/*
    兄弟选择器（只会改变弟的样式，不会改变兄的样式）
        - 选择指定元素紧挨着的下一个兄弟
            - 语法：前一个 + 下一个
            p + span{       选择p后面紧挨着的那个span标签的内容
                color: green;
            }

        - 选择指定元素后面的所有兄弟
            - 语法：兄 ~ 弟
            p ~ span{       选择p后面全部的span标签的内容
                color: green;
            }
*/

