/* 水平对齐方式 */
div{
    width: 500px;
    border: 2px red solid;
    /*
        - text-align：文本的水平对齐
            - left：左对齐
            - right：右对齐
            - center：居中对齐
            - justify：两端对齐
    */
    text-align: center;
}

/* 垂直对齐方式 */
p{
    font-size: 50px;
    border: 2px red solid;
}
span{
    font-size: 20px;
    border: 2px blue solid;
    /*
        - vertical-align：文本的垂直对齐方式（消除图片与边框的距离）
            - baseline：默认值，基线对齐
            - top：顶部对齐
            - bottom：底部对齐
            - middle：居中对齐
    */
    vertical-align: middle;
}