/*
    - 相对定位：可视位置发生改变，但原本的位置不会发生变化，还在原地占据着
        - 当元素的position属性设置为relative时，就开启了该元素的相对定位
        - 相对定位特点：
            - 元素设置相对定位后，如果不设置偏移量，元素不会发生任何变化
            - 相对定位是参照原元素（左上角的点为坐标原点）在文档流中的位置进行定位的
            - 相对定位会提升元素的层级
            - 相对定位不会使元素脱离文档流，也不会元素的性质（块还是块元素，行内还是行内元素）

    - 偏移量（offset）
        - 元素设置相对定位以后，通过偏移量来设置元素的位置（对其他元素不产生任何影响）
        - 垂直方向的定位：top和bottom一般只设置一个
            - top：定位元素和定位位置上边的距离
            - bottom：定位元素和定位位置下边的距离
        - 水平方向的定位：left和right一般也只设置一个
            - left：定位元素和定位位置左边的距离
            - right：定位元素和定位位置右边的距离
*/

div{        /* 设置字体的大小 */
    font-size: 50px;
}

.box1{
    width: 200px;
    height: 200px;
    background-color: #c81623;
}

.box2{      /* 为该元素设置相对定位 */
    width: 200px;
    height: 200px;
    background-color: #0F7812;

    /* 设置position属性 */
    position: relative;         /* 开启该元素的相对定位 */
    /* 设置偏移量 */
    top: 100px;         /* 元素向下移动 */
    bottom: 100px;      /* 元素向上移动 */
    left: 100px;        /* 元素向右移动 */
    right: 100px;       /* 元素向左移动 */
}

.box3{
    width: 200px;
    height: 200px;
    background-color: #3d32bb;
}