/*
    - 长度单位
        - 像素：
            - 屏幕（显示器）实际上是由一个个小点点构成
            - 不同屏幕的像素大小是不同的，像素越小的屏幕显示越清晰
        - 百分比：
            - 可以将属性值设置为相对父元素的属性的百分比
            - 可以是子元素跟随父元素的改变而改变
*/
.box1{
    width: 200px;       /* 宽度 */
    height: 300px;      /* 高度 */
    background-color: blue;
}

.box2{
    width: 50%;
    height: 50%;
    background-color: red;
}