@font-face {
  font-family: "iconfont"; /* Project id 2487825 */
  src: url('iconfont.woff2?t=1621081967206') format('woff2'),
       url('iconfont.woff?t=1621081967206') format('woff'),
       url('iconfont.ttf?t=1621081967206') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuchekong:before {
  content: "\e600";
}

.icon-shouhoufuwu:before {
  content: "\e687";
}

.icon-kefu:before {
  content: "\e606";
}

.icon-gerenzhongxin:before {
  content: "\e611";
}

.icon-shouji:before {
  content: "\e613";
}

