/*
    - 媒体查询
        - 语法：@media 查询规则()
            - all：所有设备都生效
            - print：针对打印设备
            - screen：针对带屏幕的设备
            - speech：针对屏幕阅读器
            - 可以使用逗号连接多个媒体类型，这样它们之间就是一个或的关系
*/

@media all {
    .box{
        width: 200px;
        height: 200px;
        background-color: #FF6700;
    }
}























