@font-face {
  font-family: "iconfont"; /* Project id 2487825 */
  src: url('iconfont.woff2?t=1622367669448') format('woff2'),
       url('iconfont.woff?t=1622367669448') format('woff'),
       url('iconfont.ttf?t=1622367669448') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jingwuicon_svg-:before {
  content: "\e648";
}

.icon-fushi-yundongxie:before {
  content: "\e609";
}

.icon-yun:before {
  content: "\e6cf";
}

.icon-jiantouxia:before {
  content: "\e62a";
}

.icon-jiantoushang1:before {
  content: "\e62d";
}

.icon-sheshidu:before {
  content: "\e75b";
}

.icon-mianxingxinshuaitubiao:before {
  content: "\e6a4";
}

.icon-huojian:before {
  content: "\e601";
}

.icon-weixin:before {
  content: "\e62b";
}

.icon-xiazai:before {
  content: "\e610";
}

.icon-tubiaozhizuo-:before {
  content: "\e60a";
}

.icon-icon-:before {
  content: "\e64c";
}

.icon-bofang1:before {
  content: "\e72b";
}

.icon-zan:before {
  content: "\e6f2";
}

.icon-UPzhu:before {
  content: "\e666";
}

.icon-bofang:before {
  content: "\e600";
}

.icon-iconfontzhizuobiaozhun023126:before {
  content: "\e680";
}

.icon-iconfontzhizuobiaozhun023127:before {
  content: "\e681";
}

.icon-shangxiajiantou:before {
  content: "\e6b7";
}

.icon-jiantoushang:before {
  content: "\e62c";
}

.icon-iconfontjiantou:before {
  content: "\e639";
}

.icon-huo:before {
  content: "\e66c";
}

.icon-jiantou:before {
  content: "\e603";
}

.icon-laba:before {
  content: "\e637";
}

.icon-emotion:before {
  content: "\e641";
}

.icon-fangdajing:before {
  content: "\e638";
}

.icon-youxiji:before {
  content: "\e635";
}

.icon-shouji:before {
  content: "\e621";
}

.icon-jia:before {
  content: "\e608";
}

.icon-flag-fill:before {
  content: "\e622";
}

.icon-shexiangji:before {
  content: "\e665";
}

.icon-fengche:before {
  content: "\e625";
}

.icon-yinle:before {
  content: "\e6c9";
}

.icon-peitaosheshixiaotubiao_dianshi:before {
  content: "\e60b";
}

.icon-quanzi:before {
  content: "\e6fa";
}

.icon-huo1:before {
  content: "\e88e";
}

.icon-tianpingzuo:before {
  content: "\f1c9";
}

.icon-shipin:before {
  content: "\f4f7";
}

.icon-weibiaoti--:before {
  content: "\e613";
}

