/*
    属性选择器
        - 语法1：[属性名]     选择含有指定属性的元素
        p[title]{
            color: blueviolet;
        }

        - 语法2：[属性名=属性值]     选择指定属性和属性值的元素
        p[ti  tle="ABC"]{
            color: firebrick;
        }

        - 语法3：[属性名^=属性值]    选择属性值以指定值开头的全部元素
        p[title^="abc"]{
            color: blue;
        }

        - 语法4：[属性名$=属性值]    选择属性值以指定值结尾的全部元素
        p[title$="def"]{
            color: lime;
        }

        - 语法5：[属性名*=属性值]    选择属性值中含有指定值的全部元素
        p[title*="abc"]{
        color: brown;
        }
*/
