/*
    - 浮动元素不会盖住文字，文字会自动环绕在浮动元素的周围，所以可以利用这点设置文字环绕图片效果

    - 元素设置浮动以后，将会从文档流中脱离，元素的一些特点也会发生改变

    - 脱离文档流的特点：
        - 块元素：
            - 块元素不在独占一行
            - 脱离文档流之后，块元素的宽度和高度默认都被内容撑开
        - 行内元素：
            - 行内元素脱离文档流之后就会变成块元素，特点和块元素一样
        - 总结：脱离文档流之后，就不区分块元素和行内元素了
*/
*{      /* 清除默认样式 */
    margin: 0;
    padding: 0;
}

/* 文字环绕图片展示 */
.box1{
    width: 100px;
    height: 100px;
    background-color: red;

    float: left;
}

/* 文字浮动效果展示 */
.box2{      /* 块元素展示 */
    background-color: #bbffaa;
    float: left;
}
.box3{
    background-color: #c81623;
}

span{       /* 行内元素展示 */
    /*
        行内元素本来不支持设置宽度和高度，但是设置浮动后，便可以设置宽度和高度了，和块元素一样了
    */
    float: left;
    width: 100px;
    height: 100px;
    background-color: #3aff50;
}