
/*
    - 问题：样式冲突（不同选择器选中了相同元素，设置不同的样式）
    - 解决方式：发生冲突时，具体哪个样式由选择器的权重（优先级）决定
    - 比较选择器时，将选择器的优先级相加计算，优先级值越高，则越优先显示（分组选择器是单独计算的）
        - 选择器累加不会超过其最大的数量级，类选择器再高也不会超过id选择器
        - 若优先级相同，则优先使用代码在最后的那个样式
    - 可以在某一个样式最后添加 !important; ，此时该样式获取到最高优先级，甚至超过内联选择器（慎用）
    - 简述：描述越详细具体，优先级越高
*/
p{      /* 元素选择器 */
    color: green;
}
#red{   /* id选择器 */
    color: red;
}
.blue{  /* 类选择器 */
    color: blue;
}